<% @user ||= current_user %>
<div class="stats">
  <table summary="User stats">
    <tr>
      <td>
        <a href="<%= following_user_path @user %>">
          <span id="following" class="stat">
            Following: <%= @user.following.count %>
          </span>
        </a>
      </td>
      <td>
        <a href="<%= followers_user_path @user %>">
          <span id="followers" class="stat">
            Followers: <%= @user.followers.count %>
          </span>
        </a>
      </td>
    </tr>
  </table>
</div>