%h1 About Us
%p
  Fritter is a project created by following the |
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>, |
  a guide to teach web development with |
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.